---
import { getAllTaxonomy, getTaxonomy } from "@utils/taxonomyParser";
import { humanize, slugify, pluralize } from "@utils/textConverter";

import LabelCloud from "@components/common/LabelCloud.astro";

const { sidebarFilters, collection } = Astro.props;
// console.log(sidebarFilters);
---

<aside
  class="flex w-full max-w-3xl flex-col gap-4 px-4 lg:w-1/3 lg:basis-auto"
  aria-label=""
>
  {
    sidebarFilters &&
      sidebarFilters.map(async (filter: any) => {
        const categories = await getAllTaxonomy(collection, filter.name);
        const entries = Object.entries(categories);

        return (
          <section
            class={`max-h-64 rounded border-[3px]  border-[--font-color] bg-[--secondary-background] p-4`}
          >
            <h2 class="mb-2 text-xl uppercase">{pluralize(filter.name)}</h2>
            <LabelCloud
              {entries}
              path={`/blog/${slugify(filter.name)}`}
              showCount={filter.count}
              short={filter.short}
              slug={filter.slug}
              small={filter.small}
            />
          </section>
        );
      })
  }
</aside>
