---
import { Icon } from "astro-icon/components";
import { onPageLoad } from "astro/virtual-modules/transitions-events.js";

const { page, baseUrl } = Astro.props;
const paginationStart = Math.max(Math.min(page.currentPage-3, page.lastPage-5), 0)
const paginationEnd = Math.min(paginationStart + 5, page.lastPage)
const paginationList = Array.from({ length: page.lastPage }, (_, i) => i + 1).slice(paginationStart, paginationEnd );

// console.log(page)
// await console.log(paginationList)
---

<nav aria-label="pagination" class="pagination pagination-default flex flex-col sm:flex-row gap-4 sm:gap-1 w-fit justify-center items-center mb-8 self-center">
    <div class="flex justify-center items-center flex-none gap-1">
        { (page.currentPage === 1) ? (
            <span class="pagination__link disabled" aria-hidden="true">
                <Icon name="mdi:chevron-double-left">
        
            </span>
            <span class="pagination__link disabled" aria-hidden="true">
                <Icon name="mdi:chevron-left">
            </span>
        ) : (
            <a href={baseUrl} class="pagination__link" aria-label="First page">
                <Icon name="mdi:chevron-double-left" class="text-2xl mx-1">
            </a>
            <a href={page.url.prev} class="pagination__link" aria-label="Previous page">
                <Icon name="mdi:chevron-left" class=" text-2xl mx-1">
            </a>
        )}
        {
            paginationList[0] !== 1 ? <p class="text-xs sm:text-base" aria-hidden="true">...</p> : null
        }
    </div>
    
    <div class="flex gap-1">
        {
            paginationList.map((num) => (
                <a href={`${baseUrl}${num == 1 ? "" : '/'+(num)}`} class={`pagination__link p-4  ${page.currentPage == num ? "disabled active" : ""}`}>
                    {num}
                </a>
            ))
        }
    </div>
    <div class="flex justify-center items-center gap-1 flex-none">
        {
            !paginationList.includes(page.lastPage) ? <p class="text-xs sm:text-base" aria-hidden="true">...</p> : null
        }
        { page.url.next ? (
            <a href={page.url.next} class="pagination__link" aria-label="Next page">
                <Icon name="mdi:chevron-right" class="text-2xl mx-1">

            </a>
            <a href={`${baseUrl}/${page.lastPage}`} class="pagination__link" aria-label="Last page">
                <Icon name="mdi:chevron-double-right" class="text-2xl mx-1">
            </a>
            ) : (
            <span class="pagination__link disabled" aria-hidden="true">
                <Icon name="mdi:chevron-right">
            </span>
            <span class="pagination__link disabled" aria-hidden="true">
                <Icon name="mdi:chevron-double-right">
            </span>
        )}
    </div>


    
</nav>

<style lang="scss">
    .pagination__link{
        @apply inline-flex py-2 text-xl items-center justify-center rounded  hover:bg-[--primary-background] hover:text-[--action-color] text-[--font-color] rtl:rotate-180  hover:font-semibold;
    }    
    .disabled {
        @apply cursor-default hover:text-[--outline-variant] text-[--outline-variant] hover:bg-transparent hover:font-light ;
    }
    .active {
        @apply border-[--action-color-state] bg-[--action-color] hover:bg-[--action-color]   text-[--white] dark:text-[--dark] hover:text-[--white] hover:font-medium;
    }


</style>