---
import { Icon } from "astro-icon/components";
import Heading from "@components/shared/Heading.astro";
const { icon, subtitle, subtitleOrder, title, center, id, addClasses } =
  Astro.props;

const centering = center
  ? "items-center justify-center text-center"
  : "w-full items-center justify-center text-center md:items-start md:text-left";
---

<div
  class=`w-full flex flex-col sm:min-w-[20ch] gap-2 ${centering} ${addClasses}`
>
  {icon && <Icon name={icon} class="text-4xl text-[--tertiary]" />}
  {
    subtitle && (
      <p
        aria-roledescription="subtitle"
        class="text-sm font-semibold uppercase text-[--primary] "
      >
        {subtitle}
      </p>
    )
  }
  <h2
    class="font-serif-heading max-w-[30ch] text-2xl font-semibold capitalize sm:text-3xl lg:text-5xl"
  >
    {
      title ? (
        <Heading id={id}>{title}</Heading>
      ) : (
        <Heading id={id}>
          <slot name="title" />
        </Heading>
      )
    }
  </h2>
  <!-- only for title text not content -->
  {
    Astro.slots.has("default") && (
      <div class=" flex w-full max-w-[50ch] flex-col gap-4 text-base sm:py-4 lg:text-xl">
        <slot />
      </div>
    )
  }
</div>
