---
import { getCollection } from "astro:content";
import { CONTENTSETTINGS } from "@config";
import { Icon } from "astro-icon/components";

import { getAllTaxonomy } from "@utils/taxonomyParser";
import { slugify, humanize, pluralize } from "@utils/textConverter";

// components
import DefaultLayout from "@layouts/DefaultLayout.astro";
import PageHeader from "@components/shared/PageHeader.astro";
import Button from "@components/common/Button.astro";
import LabelCloud from "@components/common/LabelCloud.astro";

export async function getStaticPaths() {
  const filters: string[] = CONTENTSETTINGS.blog.blogFilters.map(
    (filter) => filter.name
  );
  return filters.flatMap((filter) => {
    return [
      { params: { filter: slugify(filter) }, props: { filterName: filter } },
    ];
  });
}
// console.log(Astro.params);
const { filter } = Astro.params;
const { filterName } = Astro.props;

const categories = await getAllTaxonomy("blog", filter);
const entries = Object.entries(categories);
const filterPath = `/blog/${filter}`;

const filterConfig = CONTENTSETTINGS.blog.blogFilters.find(
  (f) => f.name == filterName
);
---

<DefaultLayout title=`Blog ${pluralize(filter, entries.length)}`>
  <PageHeader title=`${pluralize(filter, entries.length)}` breadcrumbs />
  <section class="flex w-full flex-col items-center justify-start">
    <div
      class="max-w-screen-3xl flex w-full flex-auto flex-col items-center justify-start p-4 md:p-16"
    >
      <aside
        class="w-full rounded border-[3px] border-[--font-color] bg-[--secondary-background] p-6 text-lg"
      >
        <!-- other filter entries -->
        <LabelCloud
          entries={entries}
          path={filterPath}
          showCount={filterConfig?.count}
          short={filterConfig?.short}
          slug={filterConfig?.slug}
        />
      </aside>

      <Button
        href="/blog"
        text="Back to Blog"
        icon="mdi:arrow-left"
        buttonColor="color-primary "
        addClasses="size-small w-fit mt-8"
      />
    </div>
  </section>
</DefaultLayout>
