---
import { Icon } from "astro-icon/components";

const { length, currentUrl, currentPage, firstUrl, prevUrl, nextUrl, lastUrl } = Astro.props;
const paginationList = Array.from({ length: length }, (_, i) => i + 1);
---

<nav aria-label="pagination" class="pagination pagination-default flex gap-1 w-full justify-center items-center">
    { (firstUrl == currentUrl) ? (
        <span class="pagination__link disabled" aria-hidden="true">
            <Icon name="mdi:chevron-double-left">
                
        </span>
    ) : (
        <a href={firstUrl} class="pagination__link">
            <Icon name="mdi:chevron-double-left" class="font-extrabold h-6 w-6  ">
                <span class="sr-only">First Page</span> 
        </a>
    )}

    { prevUrl ? (
        <a href={prevUrl} class="pagination__link">
            <Icon name="mdi:chevron-left" class="font-extrabold h-6 w-6">
            <span class="sr-only">Previous</span>
        </a>
    ) : (
        <span class="pagination__link disabled">
            <Icon name="mdi:chevron-left">
        </span>        
    )}
    
    {
        paginationList.map((num) => (
            <a href={`${firstUrl}${num == 1 ? "" : '/'+(num)}`} class={`pagination__link ${currentPage == num ? "disabled active" : ""}`}>
                {num}
            </a>
        ))
    }

    { !nextUrl ? (
        <span class="pagination__link disabled" aria-hidden="true">
            <Icon name="mdi:chevron-right">
        </span>
    ) : (
        <a href={nextUrl} class="pagination__link">
            <Icon name="mdi:chevron-right" class="font-extrabold h-6 w-6">
                <span class="sr-only">Next</span>
        </a>
    )}

    { lastUrl == currentUrl ? (
        <span class="pagination__link disabled" aria-hidden="true">
            <Icon name="mdi:chevron-double-right">
        </span>
    ) : (
        <a href={lastUrl} class="pagination__link">
            <Icon name="mdi:chevron-double-right" class="font-extrabold h-6 w-6">
                <span class="sr-only">Last Page</span>
        </a>
    )}
    
</nav>

<style lang="scss">
    .pagination__link{
        @apply inline-flex h-12 text-xl w-12 items-center justify-center rounded  hover:bg-[--primary-background] hover:text-[--action-color] text-[--font-color] rtl:rotate-180 hover:stroke-[--action-color]  hover:font-extrabold;
    }    
    .disabled {
        @apply cursor-not-allowed hover:text-[--outline-variant] text-[--outline-variant];
    }
    .active {
        @apply border-[--action-color-state] bg-[--action-color] hover:bg-[--action-color] text-[--white] hover:text-[--white];
    }


</style>