---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { getImage } from "astro:assets";
import Hero from "../components/Hero.astro";
import Button from "../components/Button.astro";
import CallOut from "../components/CallOut.astro";
import Feature from "../components/Feature.astro";
import ProcessStep from "../components/ProcessStep.astro";
import { Icon } from "astro-icon";
import ContentMedia from "../components/ContentMedia.astro";
import Heading from "../components/Heading.astro";
import CallToAction from "../components/CallToAction.astro";
import heroVector from "../assets/img/hero-vector.webp";

const optimisedHero = await getImage({
  src: heroVector,
  format: "webp",
  width: 800,
  loading: "eager",
});
---

<Fragment slot="head">
  <link rel="preload" href={optimisedHero.src} as="image" />
</Fragment>

<DefaultLayout title="Home">
  <Hero
    title="Making Technology"
    gradientText="That Works"
    subtitle="Web development and technology for small and growing businesses."
    learnTarget={`#believe`}
    quoteButton={true}
    learnButton={true}
    imgSrc={optimisedHero}
  />
  <section class="">
    <div class="container flex flex-col gap-2">
      <h2 class="mb-2 text-lg font-bold">
        <Heading id="whatwedo" text="What we do" />
      </h2>
      <p class="mb-8 text-4xl font-bold md:text-6xl">
        Getting your business online,
        <span class="text-highlight">without the faff.</span>
      </p>
      <p class="text-xl md:text-2xl">
        We specialise in designing and developing websites and technology for
        small and growing businesses across the UK.
      </p>
      <p class="mb-8 text-xl md:text-2xl">
        All of our code is written by hand to ensure exceptional performance to
        help you bring in more businesses and waste less time wanting to throw
        your computer out the window.
      </p>
    </div>
    <div
      class="container mt-16 flex flex-col justify-center gap-3 min-[500px]:flex-row"
    >
      <Button href="/quoter" icon="mdi:message-outline" text="Get a Quote" />
      <Button
        href="/services"
        text="Explore Services"
        buttonColor="color-secondary"
      />
    </div>
  </section>

  <section class="">
    <div class="container flex flex-col">
      <h2 class="mb-2 text-lg font-bold">
        <Heading id="believe" text="WE BELIEVE" />
      </h2>
      <p class="mb-16 text-4xl font-bold md:text-6xl">
        Technology should make life
        <span class="text-highlight">easier</span>, not harder.
      </p>
      <p class="mb-8 text-xl md:text-2xl">
        Make the technology and systems that your business relies on:
      </p>

      <div class="container">
        <div class="mb-8 grid grid-cols-1 gap-12 md:grid-cols-3">
          <CallOut
            purple="FUNCTION"
            point="seamlessly"
            subtext="reducing disruption"
          />
          <CallOut
            purple="USABLE"
            point="without a PhD"
            subtext="keeping things simple"
          />

          <CallOut
            purple="EFFICIENT"
            point="clear ROI"
            subtext="saving you money"
          />
        </div>
      </div>
    </div>
    <div
      class="container mt-16 flex flex-col justify-center gap-3 min-[500px]:flex-row"
    >
      <Button href="/quoter" icon="mdi:message-outline" text="Get a Quote" />
      <Button
        href="/services/#approach"
        text="About Us"
        buttonColor="color-secondary"
      />
    </div>
  </section>

  <section class="">
    <div class="container">
      <h2 class="mb-2 text-lg font-bold">
        <Heading id="services" text="OUR SERVICES" />
      </h2>
      <p class="md:text-6x mb-8 text-4xl font-bold">
        Technology should <span class="text-highlight">save</span> you time and money.
      </p>

      <p class="mb-16 text-xl md:text-2xl">
        Understand, optimise and connect your business processes and technology
        to reduce cost, increase security and attract more business.
      </p>
      <div class="my-4 grid grid-cols-1 content-stretch gap-6 md:grid-cols-2">
        <Feature
          icon="ic:baseline-web"
          title="Website & App Development"
          featureColor="blue"
          href="/services/#webDev"
        >
          Build or update your website to attract more customers, save you time
          and stand out from the crowd.
        </Feature>
        <Feature
          icon="mdi:lifebuoy"
          title="Routine & On Call Support"
          featureColor="gold"
          href="/services/#ongoing"
        >
          Dedicated access to expertise in technology, business operations and
          strategy, when you need it.
        </Feature>
        <Feature
          icon="mdi:cogs"
          title="Integration & Automation"
          featureColor="mint"
          href="/services/#systemIntegration"
        >
          Design, integrate and build the right technology, processes and
          systems for your business.
        </Feature>

        <Feature
          icon="mdi:chart-timeline-variant-shimmer"
          title="Business Analytics"
          featureColor="pink"
          href="/services/#businessAnalysis"
        >
          Assess performance, manage risk and identify opportunities to improve
          processes and systems.
        </Feature>
      </div>
      <div
        class="container mt-16 flex flex-col justify-center gap-3 min-[500px]:flex-row"
      >
        <Button href="/quoter" icon="mdi:message-outline" text="Get a Quote" />
        <Button
          href="/services"
          text="Explore Services"
          buttonColor="color-secondary"
        />
      </div>
    </div>
  </section>

  <!-- <section class="">
    <div class="container mb-8">
      <h2 class="mb-2 text-lg font-bold">
        <Heading id="how" text="HOW WE WORK" />
      </h2>
      <p class="mb-8 text-6xl font-bold">
        Technology should <span class="text-highlight">fit</span> your business,
        not shape it.
      </p>
      <ContentMedia imgSrc="/route-vector.png" reverseImg={false}>
        <p class="mb-2 text-xl">
          Building technology infrastructure that is efficient and effective
          requires a hollistic understanding of your business; your strengths,
          your challenges and your goals.
        </p>
      </ContentMedia>
    </div>
    <div
      class="banner my-4 flex flex-col items-center justify-center gap-y-0.5 md:flex-row md:items-stretch lg:flex-row lg:items-stretch"
    >
      <ProcessStep class="step" icon="mdi:telescope" title="Understand">
        where you are and where you're going
      </ProcessStep>
      <ProcessStep icon="mdi:pencil-ruler" title="Design">
        Optimising what you already have or investing where it matters.
      </ProcessStep>
      <ProcessStep icon="mdi:rocket-launch-outline" title="Deliver">
        Build, configure, test and launch your project.
      </ProcessStep>
    </div>
    <div
      class="container mt-16 flex flex-col justify-center gap-3 min-[500px]:flex-row"
    >
      <Button href="/quoter" icon="mdi:message-outline" text="Get a Quote" />
      <Button
        href="/pricing/#howItWorks"
        text="Learn More"
        buttonColor="color-secondary"
      />
    </div>
  </section> -->
  <CallToAction />
</DefaultLayout>

<style lang="scss">
  .text-highlight {
    text-decoration: var(--primary-200) wavy underline;
  }
  :global(html) {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    :global(html) {
      scroll-behavior: auto;
    }
  }

  :global(.darkmode .text-highlight) {
    text-decoration: var(--primary-200) wavy underline;
    text-shadow: 1px 1px 0 var(--neutral-100);
  }

  .banner {
    padding: 1rem;
    background-color: var(--secondary-100);
    background: linear-gradient(
      315deg,
      var(--primary-100) 25%,
      var(--secondary-200)
    );
    > :first-child {
      border: 3px solid forestgreen;
    }
  }
  .darkmode .mint {
    border: 3px solid var(--accent-mint-100);
  }
</style>
<script>
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute("href")).scrollIntoView({
        behavior: "smooth",
      });
    });
  });
</script>
