---
// config
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
// components
import Hero from "@components/Hero.astro";
import Button from "../components/Button.astro";
import CallOut from "../components/CallOut.astro";
import Feature from "../components/Feature.astro";
import ProcessStep from "../components/ProcessStep.astro";
import BlogGrid from "@components/shared/BlogGrid.astro";
import ContentMedia from "../components/ContentMedia.astro";
import Heading from "@components/shared/Heading.astro";
import SectionHeading from "@components/shared/SectionHeading.astro";
import CallToAction from "../components/CallToAction.astro";

// content
import heroVector from "@assets/images/hero-vector.webp";
import mobile from "@assets/images/share.png";
import find from "@assets/images/find.png";
import productive from "@assets/images/productivity.png";
import headshot from "../assets/images/headshot.jpg";
---

<DefaultLayout
  title="Making Websites for Ambitious Businesses"
  description="Affordable, hand-coded websites and technology built in the UK. Grow your ambitious British business, without a Computer Science PhD. Get a free quote today!"
>
  <Hero
    title="Making Technology"
    gradientText="That Works"
    subtitle="Web development and technology for ambitious small businesses."
    learnTarget={`#what-we-do`}
    quoteButton={true}
    learnButton={true}
    imgSrc={heroVector}
  />
  <section
    class="flex min-h-[70vh] w-full max-w-full flex-col px-4 py-8 sm:max-w-screen-xl md:px-16"
  >
    <SectionHeading subtitle="what we do" id="what-we-do">
      <p slot="title">
        Getting your business online,<br /><span class="text-highlight"
          >without the faff.</span
        >
      </p>
      <p class="">
        We specialise in designing and developing websites and technology for
        small and growing businesses across the UK.
      </p>
      <p class="">
        All of our code is written by hand (no wordpress) to ensure exceptional
        performance, helping you bring in more businesses and waste less time
        wanting to throw your computer out the window.
      </p>
    </SectionHeading>
    <div
      class="flex w-full flex-wrap justify-center gap-2 md:flex-nowrap md:gap-4"
    >
      <!-- Images https://www.freepik.com/search?author=12980021&format=author&icon_color=multicolor&last_filter=page&last_value=7&page=7&shape=lineal-color&type=icon#uuid=eda1eb07-b0e7-43ca-a9c0-f7634e953972 -->
      <CallOut
        img={mobile}
        purple="Do Business Anywhere"
        subtext="Our sites and systems are designed to work when you and your customers are on the go - including beautiful websites from your phone to your desktop."
      />
      <CallOut
        img={find}
        purple="Get Found Faster"
        subtext="Sites built to help you rank and support with your business profiles on Google, Bing and/or Facebook to help customers find you."
      />
      <CallOut
        img={productive}
        purple="Save Time and Money"
        subtext="We help you find the right solutions, at the right price, without confusing jargon or unexpected add-ons."
      />
    </div>
    <div class="flex flex-col items-center justify-center">
      <p class="my-8 max-w-[60ch] text-center text-2xl font-bold md:text-4xl">
        Get a shiny new website from<span class="text-highlight"> £1,900</span> or
        <span class="text-highlight">£180</span> per month.
      </p>
    </div>
    <div
      class="flex flex-col items-center justify-center gap-3 min-[500px]:flex-row"
    >
      <Button
        href="/pricing/#web-pricing"
        icon="mdi:arrow-right"
        text="See Pricing"
      />
      <Button
        href="/#who-we-are"
        icon="mdi:arrow-down"
        text="Who We Are"
        buttonColor="color-secondary"
      />
    </div>
  </section>

  <section
    class="my-16 flex w-full max-w-full flex-initial flex-col items-center justify-center gap-0 px-4 sm:max-w-screen-xl md:my-32 md:flex-row md:flex-wrap md:px-16"
  >
    <SectionHeading
      subtitle="who we are"
      id="who-we-are"
      addClasses="md:max-w-2xl w-full md:w-2/3"
    >
      <p slot="title">
        Hello from<span class="text-highlight"> Lucy</span>, <br />Peculiar
        Founder.
      </p>
      <p class="">
        I am an owner of a small ambitious business, like you. I jumped into
        Entrepreneurship to help small business owners access the data and
        technology I've seen and built whilst working at Google, Amazon,
        Health-Tech Startups and consulting for clients ranging from high-street
        banks to global retailers.
      </p>
      <p class="">
        I want it to be easier and more affordable for small British businesses
        to grow and compete with big business, to make the use of technology and
        AI simple and to build a slick presence on the web without being
        bamboozled by jargon or extorted by shady technology companies.
      </p>
    </SectionHeading>
    <Image
      src={headshot}
      alt=""
      class="mb-4 aspect-square w-fit max-w-60 flex-initial rounded-full border-4 border-green-300 object-cover sm:mb-0 sm:w-1/4 sm:max-w-xs"
    />
    <div
      class="flex h-fit w-full flex-col items-center justify-center gap-3 md:flex-row"
    >
      <Button
        href="/about"
        icon="mdi:arrow-right"
        text="About Us"
        addClasses="min-w-44"
      />
      <Button
        href="/#services"
        icon="mdi:arrow-down"
        text="What We Do"
        buttonColor="color-secondary"
        addClasses="min-w-44"
      />
    </div>
  </section>

  <section
    class="my-16 flex min-h-[70vh] max-w-screen-xl flex-col items-center justify-center p-4 md:my-32 md:p-16"
  >
    <SectionHeading id="services" subtitle="Our services">
      <p class="" slot="title">
        Technology should <span class="text-highlight">save</span> you time and money.
      </p>
      <p class="">
        Understand, optimise and connect your business processes and technology
        to reduce cost, increase security and attract more business.
      </p>
    </SectionHeading>
    <div
      class="my-4 grid grid-cols-1 content-stretch gap-2 sm:gap-6 md:grid-cols-2"
    >
      <Feature
        icon="ic:baseline-web"
        title="Website & App Development"
        featureColor="blue"
        href="/services/#webDev"
        featureWidth="max-w-md"
      >
        Build or update your website to attract more customers, save you time
        and stand out from the crowd.
      </Feature>
      <Feature
        icon="mdi:lifebuoy"
        title="Routine & On Call Support"
        featureColor="gold"
        href="/services/#ongoing"
        featureWidth="max-w-md"
      >
        Dedicated access to expertise in technology, business operations and
        strategy, when you need it.
      </Feature>
      <Feature
        icon="mdi:cogs"
        title="Integration & Automation"
        featureColor="mint"
        href="/services/#systemIntegration"
        featureWidth="max-w-md"
      >
        Design, integrate and build the right technology, processes and systems
        for your business.
      </Feature>

      <Feature
        icon="mdi:chart-timeline-variant-shimmer"
        title="Business Analytics"
        featureColor="pink"
        href="/services/#businessAnalysis"
        featureWidth="max-w-md"
      >
        Assess performance, manage risk and identify opportunities to improve
        processes and systems.
      </Feature>
    </div>
    <div class="flex flex-col justify-center gap-3 min-[500px]:flex-row">
      <Button href="/quoter" icon="mdi:message-outline" text="Get a Quote" />
      <Button
        href="/services"
        text="Explore Services"
        buttonColor="color-secondary"
        icon="mdi:arrow-right"
      />
    </div>
  </section>
  <section
    class="sm:max-w-screen-3xl flex w-full max-w-full flex-col items-center justify-center bg-[--surface-dim] px-4 py-8 md:px-8"
  >
    <BlogGrid title="Our latest blog posts" subtitle="recent" id="index-blogs">
      We believe in making access to technology simple, clear and affordable.
      That's why we share
    </BlogGrid>
  </section>

  <!-- <section>
    <SectionHeading subtitle="why a website" id="why-a-website">
      <p slot="title">
        Getting your business online,<br /><span class="text-highlight"
          >without the faff.</span
        >
      </p>
      <p class="">
        We specialise in designing and developing websites and technology for
        small and growing businesses across the UK.
      </p>
      <p class="">
        All of our code is written by hand (no wordpress) to ensure exceptional
        performance, helping you bring in more businesses and waste less time
        wanting to throw your computer out the window.
      </p>
    </SectionHeading>
  </section> -->

  <!-- <section class="">
    <div class="container mb-8">
      <h2 class="mb-2 text-lg font-bold">
        <Heading id="how" text="HOW WE WORK" />
      </h2>
      <p class="mb-8 text-6xl font-bold">
        Technology should <span class="text-highlight">fit</span> your business,
        not shape it.
      </p>
      <ContentMedia imgSrc="/route-vector.png" reverseImg={false}>
        <p class="mb-2 text-xl">
          Building technology infrastructure that is efficient and effective
          requires a hollistic understanding of your business; your strengths,
          your challenges and your goals.
        </p>
      </ContentMedia>
    </div>
    <div
      class="banner my-4 flex flex-col items-center justify-center gap-y-0.5 md:flex-row md:items-stretch lg:flex-row lg:items-stretch"
    >
      <ProcessStep class="step" icon="mdi:telescope" title="Understand">
        where you are and where you're going
      </ProcessStep>
      <ProcessStep icon="mdi:pencil-ruler" title="Design">
        Optimising what you already have or investing where it matters.
      </ProcessStep>
      <ProcessStep icon="mdi:rocket-launch-outline" title="Deliver">
        Build, configure, test and launch your project.
      </ProcessStep>
    </div>
    <div
      class="container mt-16 flex flex-col justify-center gap-3 min-[500px]:flex-row"
    >
      <Button href="/quoter" icon="mdi:message-outline" text="Get a Quote" />
      <Button
        href="/pricing/#howItWorks"
        text="Learn More"
        buttonColor="color-secondary"
      />
    </div>
  </section> -->
  <CallToAction />
</DefaultLayout>

<style lang="scss">
  :global(.text-highlight) {
    text-decoration: var(--primary-200) wavy underline;
  }
  :global(html) {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    :global(html) {
      scroll-behavior: auto;
    }
  }

  :global(.darkmode .text-highlight) {
    text-decoration: var(--primary-200) wavy underline;
    text-shadow: 1px 1px 0 var(--neutral-100);
  }

  .banner {
    padding: 1rem;
    background-color: var(--secondary-100);
    background: linear-gradient(
      315deg,
      var(--primary-100) 25%,
      var(--secondary-200)
    );
    > :first-child {
      border: 3px solid forestgreen;
    }
  }
  .darkmode .mint {
    border: 3px solid var(--accent-mint-100);
  }

  main > section {
    min-height: 70vh;
  }
  main > .container,
  main > section > .container {
    // @apply my-16 flex items-center justify-center gap-4 p-4 md:my-32 md:gap-8 md:p-16;
  }
</style>
