---
import { Icon } from "astro-icon/components";

import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "@components/Hero.astro";
import Button from "@components/common/Button.astro";
import SectionHeading from "@components/shared/SectionHeading.astro";
import Feature from "@components/Feature.astro";
import CallOut from "@components/CallOut.astro";
import CallToAction from "@components/CallToAction.astro";

import investVector from "@assets/images/invest-vector.png";

import serviceFeatures from "@data/serviceFeatures.json";
---

<DefaultLayout
  title="Website and Technology Wizardry with an Impact"
  subtitle="Peculiar Dynamics"
  description="Browse our affordable, UK based, hand-coded websites and technology; how we save time, cut costs and fuel growth for ambitious British businesses."
>
  <Hero
    title="Invest in Technology"
    gradientText="That Matters"
    imgSrc={investVector}
    subtitle={`Unlock the potential of your business with accessible, affordable and
    understandable technology paired with one-time or ongoing tech support.`}
  >
    <div
      class="row-start-2 mt-4 flex w-fit max-w-screen-md flex-wrap justify-center gap-3 sm:flex-row md:col-span-full xl:col-span-1"
    >
      <Button
        href="#webDev"
        icon="mdi:arrow-right"
        text="Website & App Development"
        buttonColor="blue"
        addClasses="w-fit"
      />

      <Button
        href="#ongoing"
        icon="mdi:arrow-right"
        text="Ongoing Support"
        buttonColor="gold"
        addClasses="w-fit"
      />
      <Button
        href="#systemIntegration"
        icon="mdi:arrow-right"
        text="System Integration"
        buttonColor="mint"
        addClasses="w-fit"
      />
      <Button
        href="#businessAnalysis"
        icon="mdi:arrow-right"
        text="Business Analytics"
        buttonColor="pink"
        addClasses="w-fit"
      />
    </div>
    <div class="col-span-full mt-16 flex w-fit justify-center">
      <Button
        buttonColor="color-secondary"
        href="#approach"
        text="Our Approach"
        icon="mdi:arrow-down"
      />
    </div>
  </Hero>

  <section
    class="approach flex w-full flex-col items-center justify-center px-4 py-8"
  >
    <div
      class="container flex max-w-screen-lg flex-col items-center justify-center gap-4 rounded-lg p-4 md:gap-8 md:p-8"
    >
      <SectionHeading id="approach" subtitle="Our approach">
        <p slot="title">
          Technology that
          <span class="text-highlight">connects</span> your business and customers.
        </p>
        <p class="">
          Grow, professionalise and promote your business with custom solutions
          that deliver value; to give you the time to focus on delivering your
          products and services.
        </p>
      </SectionHeading>
      <div
        class="grid max-w-screen-md grid-cols-1 justify-items-center gap-8 md:grid-cols-3"
      >
        <p class="col-span-full w-full max-w-[60ch] text-base lg:text-xl">
          Our approach is:
        </p>
        <CallOut
          purple="Tech-Led"
          point="Processes and Service"
          subtext="Keep costs down and delivery fast."
        />
        <CallOut
          purple="UK-Based"
          point="British Suppliers"
          subtext="Supporting local businesses and tech talent."
        />

        <CallOut
          purple="Transparent"
          point="Upfront Costs"
          subtext="Fixed fees, clear briefs and simple pricing."
        />
      </div>
      <ul
        class="mt-8 flex w-full max-w-xl flex-col items-center gap-4 text-base lg:text-xl"
      >
        <p class="my-4 w-full">And our tech is always:</p>
        <li class="inline-flex w-full max-w-[60ch] gap-4 pl-4">
          <Icon name="mdi:tick" class="text-6xl" />
          <p>
            <span class="font-bold">Coded by hand</span>; i.e. no wordpress or
            bloated frameworks <span class="font-bold"
              >for speed and performance</span
            > to optimise your page ranking and SEO - getting you in front of <span
              class="font-bold">more eyeballs</span
            >
          </p>
        </li>
        <li class="inline-flex w-full max-w-[60ch] gap-4 pl-4">
          <Icon name="mdi:tick" class="text-6xl" />
          <p>
            <span class="font-bold">Integrated</span>: tying together all your
            online profiles
            <span class="font-bold">and</span> your core business processes (like
            customer quotes or your accounting tools) - to <span
              class="font-bold"
            >
              save you time and reduce complexity
            </span>
          </p>
        </li>
        <li class="inline-flex w-full max-w-[60ch] gap-4 pl-4">
          <Icon name="mdi:tick" class="text-6xl" />
          <p>
            <span class="font-bold">Comprehensively managed</span>; we handle as
            much as you like behind the scenes so you can <span
              class="font-bold">set it and forget it</span
            > and focus on serving your customers <span class="font-bold"
              >tech-stress free</span
            >
          </p>
        </li>
      </ul>
      <div class="mt-16 flex w-fit flex-col justify-center gap-3 sm:flex-row">
        <Button
          href="#webDev"
          icon="mdi:arrow-down"
          text="How We Can Help"
          buttonColor="color-secondary"
        />
        <Button href="/quoter" icon="ph:chat" text="Get a Quote" />
      </div>
    </div>
  </section>
  {
    serviceFeatures &&
      serviceFeatures.map((service) => (
        <section
          class={`${service.id.toLowerCase()} ${
            service.color
          } my-16 flex w-full items-center justify-center px-4 py-8 md:my-32`}
        >
          <div class="container flex max-w-screen-lg flex-col items-center justify-center gap-4 rounded-lg p-4 md:gap-8 md:p-8">
            <SectionHeading
              id={service.id}
              subtitle={service.subtitle}
              title={service.title}
            >
              {service.description}
            </SectionHeading>
            <div class=" mb-8 flex max-w-sm flex-col gap-6 sm:max-w-screen-lg md:flex-row md:flex-wrap">
              {service.features.map((feature) => {
                return (
                  <Feature
                    icon={feature.icon}
                    title={feature.featureTitle}
                    buttonIcon={feature.buttonIcon}
                    href={feature.href}
                    buttonText={feature.buttonText}
                  >
                    <Fragment>
                      {feature.featureDescription}
                      <p class="mt-auto inline-flex w-full items-end justify-center gap-2 text-base font-bold md:justify-start">
                        {feature.preCost}
                        {feature.cost && (
                          <>
                            <span class="-ms-1 text-3xl font-bold">
                              {feature.cost}
                            </span>
                            {feature.postCost}
                          </>
                        )}
                      </p>
                    </Fragment>
                  </Feature>
                );
              })}
            </div>
            {service.sectionButton && (
              <Button
                icon={service.sectionButtonIcon}
                href={service.sectionButtonLink}
                text={service.sectionButton}
                buttonColor="color-secondary"
                addClasses="w-fit"
              />
            )}
          </div>
        </section>
      ))
  }
  <CallToAction />
</DefaultLayout>

<style lang="scss">
  .approach {
    background-color: var(--accent-peach-100);
  }
  section > .container {
    background-color: var(--background);
    border: 3px solid var(--dark-100);
    border-radius: 0.5rem;
    color: var(--font-color);
  }
  .approach > .container,
  .ongoing > .container,
  .systemInt > .container {
    background-color: var(--background);
    border: 3px solid var(--dark-100);
    border-radius: 0.5rem;
  }
  .business {
    // background: var(--accent-mint);
  }
  .webdev {
    // background: var(--accent-teal);
  }
  .systemInt {
    // background: var(--accent-purple);
  }
  .ongoing {
    // background: var(--accent-gold);
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid var(--neutral-900);
    border-radius: 0.5rem;
  }

  a {
    text-transform: uppercase;
  }
  .mint {
    background-color: var(--accent-mint-100);
    color: var(--dark-100);
  }
  .teal {
    background-color: var(--accent-teal-100);
    color: var(--neutral-100);
  }
  .purple {
    background-color: var(--accent-purple-100);
    color: var(--neutral-100);
  }
  .gold {
    background-color: var(--accent-gold-100);
    color: var(--dark-100);
  }
</style>
