---
import { Icon } from "astro-icon/components";

const {
  icon = null,
  text = "Text",
  href,
  buttonColor = "text-[--neutral-100] bg-[--primary-300] ",
  addClasses = "",
} = Astro.props;
---

{
  !icon ? (
    <a class={`button text-lg ${buttonColor} ${addClasses}`} {href}>
      {text}
    </a>
  ) : (
    <a class={`button has-icon text-lg ${buttonColor} ${addClasses}`} {href}>
      {text}
      <Icon name={icon} class="text-xl" />
    </a>
  )
}

<style lang="scss"></style>
