---
import { Icon } from "astro-icon/components";

const {
  icon = null,
  text = "Text",
  href,
  buttonColor = "text-[--neutral-100] bg-[--primary-300] ",
  addClasses = "w-full",
} = Astro.props;
---

{
  !icon ? (
    <a
      class={`button whitespace-nowrap text-lg ${buttonColor} ${addClasses}`}
      {href}
    >
      {text}
    </a>
  ) : (
    <a
      class={`button has-icon whitespace-nowrap text-lg ${buttonColor} ${addClasses}`}
      {href}
    >
      {text}
      <Icon
        name={icon}
        class={`flex-none text-xl ${
          icon === "mdi:arrow-left" && "order-first"
        }`}
      />
    </a>
  )
}

<style lang="scss"></style>
