---
import { Icon } from "astro-icon";

const { icon = null, text = "Text", href, buttonColor = "" } = Astro.props;
---

{ !icon ?
    (
        <a class=`button ${buttonColor}` {href}>
            {text}
        </a>
        )
    :
    (
    <a class=`button has-icon ${buttonColor}` {href}>
        {text}
        <Icon name={icon} />
    </a>)
}

<style lang="scss">

    :global(.mint) {
      background-color: var(--accent-mint);
      color: var(--dark-100);
    }
    :global(.darkmode .mint){
      background-color: var(--dark-100);
      color: var(--neutral-100);
      // color: var(--accent-mint);
      border: 2px solid var(--accent-mint);
      border-radius: 0.5rem;
      margin: 1rem;
    }
    :global(.teal) {
      background-color: var(--accent-teal);
      color: var(--neutral-200);
    }
    :global(.darkmode .teal){
      background-color: var(--dark-100);
      // color: var(--accent-teal);
      
      border: 2px solid var(--accent-teal);
      border-radius: 0.5rem;
      margin: 1rem;
    }
    :global(.purple) {
      background-color: var(--accent-purple);
      color: var(--neutral-100);
    }
    :global(.darkmode .purple){
      background-color: var(--dark-100);
      
      // color: var(--accent-purple);
      border: 2px solid var(--accent-purple);
      border-radius: 0.5rem;
      margin: 1rem;
    }
    :global(.gold) {
      background-color: var(--accent-gold);
      color: var(--dark-100);
    }
    :global(.darkmode .gold){
      background-color: var(--dark-100);
      // color: var(--accent-gold);
      border: 2px solid var(--accent-gold);
      color: var(--neutral-100);
      border-radius: 0.5rem;
      margin: 1rem;
    }
    :global(.neutral) {
      background-color: var(--neutral-background-light);
      color: var(--font-color);
    }
  </style>