---
import { CONTENTSETTINGS } from "@config";
import { formatDate } from "@utils/dateFormat";
import { humanize, plainify, slugify } from "@utils/textConverter";
import { Icon } from "astro-icon/components";
import Button from "@components/Button.astro";
// import { FaRegFolder, FaRegUserCircle } from "react-icons/fa";
import PublicImage from "@components/shared/PublicImage.astro";

const { data } = Astro.props;
const { title, image, date, author, categories, preview, tags } = data.data;
---

<div
  class="flex h-full w-full flex-auto grow flex-col items-center gap-3 text-center sm:items-start sm:text-left"
>
  {
    image && (
      <PublicImage
        class="max-h-36 w-full rounded object-cover"
        src={image}
        alt={title}
        width={445}
        height={230}
        format="webp"
      />
    )
  }
  <h2 class="w-full text-2xl">
    <a class="title-link" href={`/blog/${data.slug}`}>
      {title}
    </a>
  </h2>

  <ul
    class="mb-2 flex w-full flex-col flex-wrap items-center justify-center gap-2 whitespace-nowrap sm:flex-row sm:justify-start"
  >
    {
      tags && (
        <ul class="w-full " aria-label="tags">
          {tags.map((category: string, index: number) => (
            <li class="w-fit rounded-full bg-[--primary-background] px-2 py-1 text-xs lowercase">
              <a class="title-link" href={`/categories/${slugify(category)}`}>
                #{humanize(category)}
                {index !== tags.length - 1 && "|"}
              </a>
            </li>
          ))}
        </ul>
      )
    }
    <li class="flex flex-auto gap-2 text-sm sm:w-1/3">
      <a
        class="title-link inline-flex items-center justify-center gap-2"
        href={`/authors/${slugify(author)}`}
      >
        <Icon
          name="mdi:account-circle-outline"
          class="block flex-none"
          aria-label="author"
        />
        {humanize(author)}
      </a>
    </li>
    {
      date && (
        <li class="flex flex-auto items-center gap-2 text-sm sm:w-1/3">
          <Icon
            name="mdi:clock-outline"
            class="block flex-none"
            aria-label="date"
          />
          {formatDate(date)}
        </li>
      )
    }
  </ul>

  <p class="line-clamp-4 grow overflow-hidden text-base">
    {
      preview
        ? preview
        : plainify(data.body?.slice(0, Number(CONTENTSETTINGS.previewLength)))
    }
    <!-- {plainify(data.body?.slice(0, Number(CONTENTSETTINGS.previewLength)))} -->
  </p>
  <Button
    href={`/blog/${data.slug}`}
    text="Read Post"
    icon="mdi:arrow-right"
    addClasses="size-small last:mt-auto w-fit"
  />

  {
    categories && (
      <ul
        class="order-first -mb-6 flex w-full  items-center gap-2 overflow-x-scroll whitespace-nowrap rounded-t-md"
        aria-label="categories"
      >
        <Icon name="mdi:folder-outline" class="inline-block flex-none" />
        {categories.map((category: string, index: number) => (
          <li class=" text-xs uppercase">
            <a class="title-link" href={`/categories/${slugify(category)}`}>
              {humanize(category)}
              {index !== categories.length - 1 && "|"}
            </a>
          </li>
        ))}
      </ul>
    )
  }
</div>
